
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    padding: 20;
    text-align: left;
}

.title {
    color: white;
    font-size: 2em;
    animation: fadeIn 1.5s ease-in-out;
}


.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 10px;
}

.nav-links li a {
    color: rgb(209, 20, 20);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: wheat;
}

.section {
    padding: 40px 20px;
    text-align: left;
}

.section h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out;
}

.section p {
    font-size: 1.1em;
    color: #555;
    animation: fadeInUp 1.5s ease;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeInUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
